extends layout

block content
  h1= article.title
  h5 Written by #{author}
  p= article.body
  hr
  if user && user.id === article.author
    a.btn.btn-success.mr-3(href='/articles/edit/' + article._id) EDIT
    a.btn.btn-danger.delete-article(href='#', data-id=article._id) DELETE